<div class="navbar navbar-fixed-top" ng-class="myType" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".fixed-top-bar-items">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="padding: 6px;">
                <img alt="Dribble 2015" src="images/Dribble_logo.png" style="height: 52px;">
            </a>
            <a class="navbar-brand" href="#">{{headerText}}</a>
        </div>

        <div class="collapse navbar-collapse fixed-top-bar-items">
            <ul class="nav navbar-nav center-menu">
                <li ng-class="getCssClass('matches')" onclick="toggleNavbar()">
                    <a ui-sref="matches" ng-click="selectTab('matches')">Matches</a>
                </li>
                <li ng-class="getCssClass('table')" onclick="toggleNavbar()">
                    <a ui-sref="table" ng-click="selectTab('table')">Table</a>
                </li>
                <li ng-class="getCssClass('stats')" onclick="toggleNavbar()">
                    <a ui-sref="stats" ng-click="selectTab('stats')">Stats</a>
                </li>
                <li ng-if="isAdmin" ng-class="getCssClass('admin')" onclick="toggleNavbar()">
                    <a ui-sref="admin" ng-click="selectTab('admin')">Admin</a>
                </li>
                <li ng-if="isCaptain" ng-class="getCssClass('myTeam')" onclick="toggleNavbar()">
                    <a ui-sref="myTeam" ng-click="selectTab('myTeam')">My Team</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="showSignIn">
                <li onclick="toggleNavbar()">
                    <button type="button"
                            class="btn btn-default navbar-btn"
                            ng-click="signInCallback()"
                            style="margin-right: 5px;">
                        Sign in
                    </button>
                </li>
            </ul>
            <!--<div ng-show="showSignIn" class="nav navbar-nav navbar-right" style="margin-right: 0px;">
                <button type="button" class="btn btn-default navbar-btn" ng-click="signInCallback()">Sign in</button>
            </div>-->
        </div>
    </div>
</div>
<script>
    function toggleNavbar() {
        if ($('.icon-bar').is(':visible')) {
            $('.fixed-top-bar-items').collapse('toggle');
        }

    }
</script>
<style>
    .center-menu {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
</style>
