<div class="container-fluid" style="max-width: 700px; padding-left: 0px; padding-right: 0px;">
    <select class="form-control input-sm" ng-model="data.matchFilter" style="margin-bottom: 10px;">
        <option value="Scheduled">Fixtures</option>
        <option value="Over">Results</option>
    </select>

    <div class="panel panel-primary table-panel"
         ng-repeat="date in data.matchDates | filter:('has'+data.matchFilter) | orderBy:'getTime()':(data.matchFilter == 'Over')">
        <table class="table table-condensed table-striped">
            <tr class="info">
                <td colspan="3"><h4>{{date.toDateString().replace('2015','')}}</h4></td>
            </tr>
            <tr ng-repeat="match in data.matches  | filter:{'status': data.matchFilter} | dateFilter:date | orderBy:['dateWithTime']">
                <td width="33%" class="text-left">
                    <span class="match-name">{{match.team1Name}}</span>
                    <div ng-if="match.events.length > 0" class="match-events-left">
                        <div ng-repeat="event in match.events | filter:match.team1Id.objectId | orderBy:'time'">
                            <small ng-if="event.type != 'Self Goal'">
                                <span ng-switch on="event.type">
                                    <i class="fa fa-futbol-o" ng-switch-when="Goal"></i>
                                    <i class="fa fa-futbol-o" ng-switch-when="Penalty"></i>
                                    <i class="fa fa-square" style="color: #EAE24E;" ng-switch-when="Yellow Card"></i>
                                    <i class="fa fa-square" style="color: #BD1010;" ng-switch-when="Red Card"></i>
                                </span>
                                {{event.playerName}} {{event.time}}'
                                <span ng-if="event.type == 'Penalty'">(P)</span>
                            </small>
                        </div>
                    </div>
                    <div ng-if="match.events.length > 0" class="match-events-left">
                        <div ng-repeat="event in match.events | filter:match.team2Id.objectId">
                            <small ng-if="event.type == 'Self Goal'">
                                <i class="fa fa-futbol-o"></i>
                                {{event.playerName}} {{event.time}}' (OG)
                            </small>
                        </div>
                    </div>
                </td>
                <td width="33%" class="text-center">
                    <h3 ng-if="match.status == 'Over'" style="margin-top: 3px;">
                        <span class="label label-default">
                            {{match.team1Score + ' - ' + match.team2Score}}
                        </span>
                    </h3>
                    <div ng-if="match.status != 'Over'" class="match-time-or-score">
                        {{match.matchDateTime | formatParseDate}}
                        <div ng-switch on="match.stage" style="font-size: 16px;">
                            <b ng-switch-when="SemiFinal"><i>(Semi Final)</i></b>
                            <b ng-switch-when="QuarterFinal"><i>(Quarter Final)</i></b>
                            <b ng-switch-when="Final"><i>(Final)</i></b>
                        </div>
                    </div>
                </td>
                <td width="33%" class="text-right">
                    <span class="match-name">{{match.team2Name}}</span>
                    <div ng-if="match.events.length > 0" class="match-events-right">
                        <div ng-repeat="event in match.events | filter:match.team2Id.objectId | orderBy:'time'">
                            <small ng-if="event.type != 'Self Goal'">
                                {{event.time}}'
                                <span ng-if="event.type == 'Penalty'">(P)</span>
                                {{event.playerName}}
                                <span ng-switch on="event.type">
                                    <i class="fa fa-futbol-o" ng-switch-when="Goal"></i>
                                    <i class="fa fa-square" style="color: #EAE24E;" ng-switch-when="Yellow Card"></i>
                                    <i class="fa fa-square" style="color: #BD1010;" ng-switch-when="Red Card"></i>
                                </span>
                            </small>
                        </div>
                    </div>
                    <div ng-if="match.events.length > 0" class="match-events-right">
                        <div ng-repeat="event in match.events | filter:match.team1Id.objectId">
                            <small ng-if="event.type == 'Self Goal'">
                                <i class="fa fa-futbol-o"></i>
                                {{event.playerName}} {{event.time}}' (OG)
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<style>
    .table-panel small {
        color: #777;
    }
    .table-panel .match-name {
        font-size: 17px;
    }
    .table-panel .match-time-or-score {
        font-size: 20px;
    }
</style>